# Package Files #
*.war
*.ear
*.gz

# Folders
/bin/*
/target/*
/build/*
/vs/*
/gradle/*
/default-lyrics-index-dir/*
/src/test/researchData/*
/jcs_swap/*

# Normal Files
.settings
.idea
.gradle
.project
.classpath
*.class
*.iml
*.log
*.m7
*.pdf
*.aux
*.ipr
*.iws
*.jpg
*.gif
*.png
~*
*.nsf
*.lyrics
*.out
*.tex.bak
*.sln*
*.vcproj*
*.vcxproj*
