# Package Files #
*.jar
*.war
*.ear
*.gz

# Folders
/bin/*
/target/*
/build/*

# Normal Files
.settings
.idea
.gradle
.project
.classpath
*.class
*.iml
*.log
*.pdf
*.aux
*.ipr
*.iws
*.jpg
*.gif
~*
*.nsf
*.lyrics
*.out
*.tex.bak
